**/*.log
**/._*
**/.DS_Store
**/.gitignore
**/.gitattributes
**/Thumbs.db
**/*.md
**/.dockerignore
Dockerfile*
.env
!var/.gitignore
var/*
.idea/
docker/
config/jwt/
vendor/
tests/
features/
public/bundles/
public/media/upload/
logs/
