APP_VERSION=0.2.0
APP_TITLE="KNIT Rest API"
APP_DESCRIPTION="KNIT Rest API build using ApiPlatform"
APP_TRUSTED_HOSTS=['localhost','api']
APP_TRUSTED_PROXIES=['10.0.0.0/8','172.16.0.0/12','192.168.0.0/16']
JWT_TOKEN_TTL=3600
REDIS_URI=redis://:redis@redis:6379
VARNISH_URL=http://cache

# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=a17636f12ff5ffc0c4f03a98d088e74adba75e55
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Set "serverVersion" to your server version to avoid edge-case exceptions and extra database calls
DATABASE_URL="mysql://user:password@db:3306/database?charset=utf8mb4&serverVersion=5.7"
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
# Key paths should be relative to the project directory
JWT_PRIVATE_KEY_PATH=config/jwt/private.pem
JWT_PUBLIC_KEY_PATH=config/jwt/public.pem
JWT_PASSPHRASE=56c247d4c281f5de0d8d9d894f2b605157fd379c
###< lexik/jwt-authentication-bundle ###
