supervisord.pid
.env.*
!.env.dev
!.env.stage
clover.xml
docker-compose.override.yml

report/
logs/
config/jwt/
public/media/upload/*

phpstan.neon

!public/media/upload/.gitkeep

###> symfony/framework-bundle ###
.env
public/bundles/
var/
vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> friendsofphp/php-cs-fixer ###
.php_cs
.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###
