supervisord.pid
.env.mydevil
.env.debug

/logs
/config/jwt
/docker/oracle/instantclient-12c
/docker/oracle/database-12c
/docker/php/instantclient
/public/media/upload/

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> friendsofphp/php-cs-fixer ###
.php_cs
.php_cs.cache
###< friendsofphp/php-cs-fixer ###
