language: php
sudo: false
dist: trusty

cache:
  directories:
    - $HOME/.composer/cache

env:
  global:
    - APP_ENV=test

matrix:
  include:
    - php: '7.2'
      services:
        - mysql
      addons:
        apt:
          sources:
            - mysql-5.7-trusty
          packages:
            - mysql-server
      before_script:
        - mysql -e 'CREATE DATABASE knit_api_test;'
      env:
        - DATABASE_URL="mysql://travis@127.0.0.1:3306/knit_api_test?charset=utf8mb4&serverVersion=5.7"
    - php: '7.2'
      services:
        - postgresql
      before_script:
        - psql -c 'CREATE DATABASE knit_api_test;' -U postgres
      env:
        - DATABASE_URL="pgsql://postgres@127.0.0.1:5432/knit_api_test"
    - php: '7.1'

before_install:
  - export PATH="$PATH:$HOME/.composer/vendor/bin"

install:
  - composer update --prefer-dist --no-progress --no-suggest --no-scripts --ansi;

script:
  - composer test
  - if [[ -v DATABASE_URL ]]; then bin/console doctrine:schema:create; fi
  - if [[ -v DATABASE_URL ]]; then bin/console doctrine:fixtures:load -n; fi
  - if [[ -v DATABASE_URL ]]; then composer test-features -n; fi

addons:
  ssh_known_hosts: s11.mydevil.net

before_deploy:
  - "export APP_VERSION=$(cat ./config/services.yaml | grep version | sed -E \"s/\\s+version: '(.*)'/v\\1/\") && echo $APP_VERSION"
  - openssl aes-256-cbc -K $encrypted_abb59573aead_key -iv $encrypted_abb59573aead_iv -in ./deploy/mydevil.tar.enc -out /tmp/mydevil.tar -d
  - tar xvf /tmp/mydevil.tar -C /tmp
  - eval "$(ssh-agent -s)"
  - chmod 600 /tmp/mydevil_rsa
  - ssh-add /tmp/mydevil_rsa

deploy:
  - provider: script
    skip_cleanup: true
    script: bash ./deploy/mydevil-deploy.sh
    on:
      branch: feature/travis-deploy
      php: '7.1'
  - provider: script
    skip_cleanup: true
    script: ssh k911-main@s11.mydevil.net 'bash -s' < ./deploy/mydevil-post-deploy.sh
    on:
      branch: develop
      php: '7.1'
