default:
    suites:
        default:
            contexts:
                - App\Tests\Feature\FeatureContext:
                    kernel: '@kernel'
                - App\Tests\Feature\JsonContext
                - Behat\MinkExtension\Context\MinkContext
                - Behatch\Context\RestContext
    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
        Behat\MinkExtension:
            base_url: "http://example.com/"
            sessions:
                default:
                    symfony2: ~
        Behatch\Extension: ~