version: '3.6'
volumes:
    mysql_data: {}
    composer_cache: {}

services:
    mysql:
        image: 'mysql:5.7'
        ports:
            - '3306:3306'
        environment:
            - MYSQL_RANDOM_ROOT_PASSWORD=yes
            - MYSQL_DATABASE=database
            - MYSQL_USER=user
            - MYSQL_PASSWORD=password
        volumes:
            - 'mysql_data:/var/lib/mysql'

    redis:
        build:
            context: ./docker/redis
        environment:
            - REDIS_PASSWORD=redis
        ports:
            - '6379:6379'

    api:
        image: knitpk/api:latest
        depends_on:
            - mysql
            - redis
        build:
            context: .
            cache_from:
                - knitpk/api:latest
            args:
                - 'COMPOSER_INSTALL_FLAGS=--dev'
        env_file: .env.dev
        environment:
            - HOST=api
        volumes:
            - '.:/usr/src/api'
            - /usr/src/api/var
            - /usr/src/api/public/admin
            - 'composer_cache:/root/.composer'
        ports:
            - '8200:9501'

    nginx:
        build:
            context: ./docker/nginx
        depends_on:
            - api
        environment:
            - PORT=9988
            - 'API_URL=http://api:9501'
        ports:
            - '8100:9988'
        volumes:
            - './public:/usr/src/api/public'
            - './vendor:/usr/src/api/vendor'
            - '/usr/src/api/public/admin'

#    standalone:
#        image: knitpk/api:standalone
#        depends_on:
#            - mysql
#            - redis
#        build:
#            dockerfile: Dockerfile.standalone
#            context: .
#            cache_from:
#                - knitpk/api:standalone
#            args:
#                - KNIT_API_TAG=latest
#                - KNIT_API_ADMIN_TAG=latest
#                - 'KNIT_API_URL=http://localhost'
#        env_file: .env.dev
#        environment:
#            - PORT=9501
#            - NGINX_PORT=8899
#        volumes:
#            - '.:/usr/src/api'
#            - /usr/src/api/var
#            - /usr/src/api/public/admin
#            - 'composer_cache:/root/.composer'
#        ports:
#            - '8300:8899'

    varnish:
        depends_on:
            - nginx
            - api
        build:
            context: ./docker/varnish
        volumes:
            - './docker/varnish/conf:/etc/varnish:ro'
        ports:
            - '80:80'

    pma:
        build:
            context: ./docker/pma
        depends_on:
            - mysql
        environment:
            - PMA_HOST=mysql
            - PMA_USER=user
            - PMA_PASSWORD=password
        ports:
            - '8000:80'
