includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
parameters:
    excludes_analyse:
        - src/Migrations
        - src/Bundle/SwooleBundle/Functions/ServerUtils
    ignoreErrors:
        # Put false positives here
        - '#Cannot cast object to string#'
