includes:
    # Prophecy
    - vendor/jangregor/phpstan-prophecy/src/extension.neon
    # Doctrine
    - vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
    ignoreErrors:
        # Put false positives here